{% extends 'base.html.twig' %}

{% block title %}Ingredient index
{% endblock %}

{% block body %}
	<h1>Ingredient index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ingredient in ingredients %}
				<tr>
					<td>{{ ingredient.id }}</td>
					<td>{{ ingredient.nom }}</td>
					<td>
						<a href="{{ path('ingredient_show', {'id': ingredient.id}) }}">show</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('ingredient_create') }}">Create new</a>
	{% endif %}
{% endblock %}
