{% extends 'base.html.twig' %}

{% block title %}Ustensile index
{% endblock %}

{% block body %}
	<h1>Ustensiles</h1>

	<table id="InfoTable" class="table table-striped">
		<thead>
			<tr class="table-dark">
				<th>Id</th>
				<th>Nom</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ustensile in ustensiles %}
				<tr>
					<td>{{ ustensile.id }}</td>
					<td>{{ ustensile.Nom }}</td>
					<td>
						<a href="{{ path('ustensile_show', {'id': ustensile.id}) }}">show</a>
						<a href="{{ path('ustensile_edit', {'id': ustensile.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('ustensile_create') }}">Create new</a>
{% endblock %}

{% block javascripts %}
	<script src="/js/Datatable.js"></script>
{% endblock %}
