{% extends "base.html.twig" %}

{% block title %}
	Nouvelle recette
{% endblock %}

{% block body %}
	<h1>Nouvelle recette</h1>

	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	<div class="row">
		<div class="col">
			{{ form_row(formView.nom) }}
			{{ form_row(formView.duree) }}
			{{ form_row(formView.difficulte) }}
			{{ form_row(formView.prix) }}
		</div>
	</div>

	<br>
	<h3>Etapes</h3>
	<ul class="etapes" data-prototype="{{ form_widget(formView.etapes.vars.prototype)|e('html_attr') }}"></ul>
	<button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="etapes">Ajouter une étape</button>

	{{ form_widget(formView) }}

	<br>
	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Créer la recette
	</button>

	{{ form_end(formView) }}

{% endblock %}
